/* Base Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(59, 59, 146);
}

ol {
    list-style-type: none;
}

.main-header {
    text-align: center;
    font-size: 50px;
}

.heading {
    /* background: rgb(129, 142, 255); */
    padding: 25px 0;
}

.heading,
.container {
    max-width: 1350px;
    text-align: center;    
}

/* Timeline Styling */
.zoey-timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.zoey-timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
}

.zoey-timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 250px;
    height: 5px;
    background: grey;
}

.zoey-timeline ol li:last-child {
    width: 300px;
}

.zoey-timeline ol li:not(:first-child) {
    margin-left: 18px;
}

/* Timeline dots */
.zoey-timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100%);
    bottom: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: pink;
}

.zoey-timeline ol li > div {
    position: absolute;
    left: calc(100% + 5px);
    width: 300px;
    padding: 30px;
    font-size: 1rem;
    color: black;
    background: rgb(190, 86, 94);
    white-space: normal;
}

.zoey-timeline ol li > div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 20px;
    border-style: solid;
    border-color: rgb(51, 45, 45);
}

/* top timeline spacing from line */
.zoey-timeline ol li:nth-child(odd) > div {
    top: -25px;
    transform: translateY(-100%);
}

.zoey-timeline ol li:nth-child(odd) > div::before {
    top: 100%;
    border-width: 10px 10px 0 0;
    border-color: white transparent transparent transparent;
}

/* bottom timeline spacing from line */
.zoey-timeline ol li:nth-child(even) > div {
    top: calc(100% + 25px);
}

.zoey-timeline ol li:nth-child(even) > div::before {
    top: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent white;
}

/* Date styling */
.zoey-timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Timeline Images/Videos */

.timeline-img-container {
    margin-top: 10px;
    height: 250px;
    /* overflow: hidden; */
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fix orientation of 2 photos */
.rotate-img {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
}

.zoey-timeline ol li:nth-child(11n) {
    image-orientation: 90deg flip;
}

/* Timeline Buttons */

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }

.arrow img {
    width: 50px;
    height: 50px;
}


/* Media Queries */

@media (min-width: 769px){


}

@media (min-width: 1024px){


}